@import "vars";
@import "libs";
@import "fonts";
@import "global";

// --- Header ---

header {
  background-color: #200e61;
  top: 0;
  height: 110px;
  width: 100%;
  position: fixed;
}

.heading {
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.heading__logo {
  margin-top: 10px;
}

.heading__btn {
  margin-top: 32px;
}

.heading__btn .button {
  width: 180px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #fef983;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.9;
}

.heading__btn .button:hover {
  color: #1a1a1a;
  background-color: #fff;
  transition: all 0.5s ease;
}

// --- First ---

.first {
  background-image: url(../images/bg_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 110px;
  min-height: 710px;
}

h1 {
  padding-top: 160px;
  text-align: center;
  font-weight: bold;
  font-size: 62px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0 auto;
}

.first__btn {
  text-align: center;
  margin-top: 32px;
  z-index: -100;
}

.first__btn .button {
  margin-top: 42px;
  width: 290px;
  height: 60px;
  border: none;
  color: #1a1a1a;
  background: #fff;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 900;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.first__btn .button:hover {
  color: #fff;
  background-color: #200e61;
  border: 1px solid #fef983;
  transition: all 0.5s ease;
}

// --- Expert ---

.expert {
  padding-top: 100px;
  padding-bottom: 117px;
}

.expert__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #2a3b76;
  margin-bottom: 60px;
}

.expert__box {
  display: flex;
  justify-content: space-between;
}

.expert__box-inner {
  width: 279px;
  height: 210px;
  text-align: center;
}

.expert__box-inner-img {
  height: 90px;
}

.expert__box-inner-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #0f193d;
  margin-top: 20px;
  margin-bottom: 15px;
}

.expert__box-inner-subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #0f193d;
}

// --- Offer ---

.offer {
  padding-top: 73px;
  padding-bottom: 100px;
  color: #0f193d;
  background-color: #9eace0;
  padding-left: 48px;
  padding-right: 48px;
}

.offer__title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 100px;
}

.offer__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.offer__item {
  background-color: #c4c4c4;
  max-width: 350px;
  margin: 20px;
  box-shadow: 0 0 10px -1px #000;
}

.offer__item-image {
  min-width: 350px;
  height: 230px;
  width: 100%;
}

.offer__item-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.offer__item-subtitle {
  margin-bottom: 16px;
  text-align: center;
}

// --- Footer ---

.footer {
  height: 100px;
  background-color: #0f193d;
  padding-top: 15px;
}

.footer__phone {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
}

.footer__phone a {
  color: #fff;
  text-decoration: none;
}

.footer__email {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 10px;
}

.footer__email a {
  color: rgba(254, 249, 131, 0.7);
  text-decoration: none;
}

.footer__copyright {
  font-size: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding-top: 15px;
}

// --- Adaptive ---

@media (max-width: 500px) {
  h1 {
    font-size: 40px;
  }
  .expert__box {
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
  }
  .expert__box-inner {
    padding-bottom: 30px;
  }
}

@media (max-width: 375px) {
  .offer__title {
    font-size: 31px;
  }
  .offer__item-image {
    min-width: 300px;
  }
}

//  --- Popup config ---

// body {
//   // font-family: serif;
//   // font-size: 20px;
//   // min-width: 320px;
//   // position: relative;
// }

.hidden {
  display: none;
}

form {
  max-width: 400px;
  background-color: #fff;
  margin: auto;
  padding-top: 44px;
  padding-bottom: 44px;
  text-align: center;
  position: relative;
}

form h3,
form input,
form button {
  margin-bottom: 30px;
}

form h3 {
  font-size: 22px;
  font-weight: 700;
  color: #273051;
}

input {
  min-width: 290px;
  font-size: 18px;
  padding: 20px 15px;
  color: #1f2e7b;
  text-align: center;
  border: none;
  background-color: rgba(158, 172, 224, 0.17);
}

form button {
  padding: 15px 20px;
  font-weight: 700;
  color: #000;
  background-color: #9eace0;
  border: none;
  cursor: pointer;
}

form button:hover {
  transition: all 0.2s;
  background-color: rgba(158, 172, 224, 0.17);
  color: #2c536c;
}

//  --- Popup style ---

/* Styles for dialog window */
#small-dialog {
  background: white;
  padding: 20px 30px;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative;
}

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);

  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

// !  Button up
.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border: 1px solid red;
  border-color: transparent;
  border-radius: 50%;
  background-color: #0f193d;
  display: none;
}
.back-to-top:hover,
.back-to-top:focus {
  filter: brightness(1.8);
  outline: none;
}
.back-to-top::before,
.back-to-top::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.back-to-top::before {
  width: 5px;
  height: 25px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #f5f0f6;
}
.back-to-top::after {
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: 5px solid #f5f0f6;
  border-left: 5px solid #f5f0f6;
}

@import "media";
